---
pagination:
    data: expectations
    size: 1
    alias: expectation
permalink: "expectations/{{ expectation.name | slug }}/"

eleventyComputed:
  title: "{{ expectation.name }}"
  eleventyNavigation:
    key: "{{ expectation.name | slug }}"
    parent: expectations
    title: "{{ expectation.name }}"
---

<a
  href="{{ site.githubUrl }}/tree/{{ site.githubBranch }}/{{ expectation.path }}"
  target="_blank"
>
  Source
</a>

<p>
<pre>
<code>
{{ expectation.docstring }}
</code>
</pre>
</p>
