---
title: Expectations
permalink: /expectations/
eleventyNavigation:
  key: expectations
  order: 0
  title: Expectations
---

<ul>
{% for expectation in expectations %}
  <li>
    <a href="/expectations/{{ expectation.name | slug }}">
      <code>{{ expectation.name }}</code>
    </a>
  </li>
{% endfor %}
</ul>
